<!--
  Generated template for the LocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="user">
    <ion-title>location</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center class="bg">
  <img src="./assets/imgs/map.png">
  <button ion-button color="user" (click)="gotowaitingPage()" expand="block" style="margin-top:10%;">Mark Your Location</button>
</ion-content>
