page-washers {
    .booked{
        background-color: #DA2626;
    }
    .available{
        background-color: #32db64;
    }

    .bg{
        background-color: #9cc1f8;
    }

    .head{
        background-color: #E3E3E3;
    }
}
