<ion-header>
  <ion-navbar color="user">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg">
  <img src="./assets/imgs/user.png">
<ion-card class="info">
    <ion-card-content>
      Hannah Marie 
     </ion-card-content>
    <ion-card-content>
        Mandaue City
      </ion-card-content>
      <ion-card-content>
           HannahMarie@gmail.com
        </ion-card-content>
  </ion-card>
</ion-content>
