page-list {
    .bg{
        background-color: #9cc1f8;
    }
    img {
        width: 250px;
        height: 40%;
        margin-left: 12%;
        margin-top: 10%;
    }
    .info{

        background-color: #AAC9EA;
        margin-top: 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        
    }
}
