<ion-header>
  <ion-navbar color="user">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <h3>Select A Service</h3>
<div *ngFor="let serv of service">
        <ion-card (click)="Service(serv?.name)">
        <ion-card-header >
            {{serv?.name}}
        </ion-card-header>
      </ion-card>
</div>
</ion-content>
