<!--
  Generated template for the BookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> 
  <ion-navbar color="user">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>book</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <ion-card (click)="Service(serv?.name)">
    <ion-card-header >
      <ion-label>
        {{name}}
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      Wash - {{wash}} <br>
      Shine - {{shine}}
    </ion-card-content>
    <br>
    <ion-list>
      <ion-list-header>
        iClean Add Ons
      </ion-list-header>
      <ion-item>
        <ion-label>Mat Cleaning {{mat}}</ion-label>
        <ion-checkbox slot="options" [(ngModel)]="option" value="mat"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Leather Conditioning<br> {{leather}}</ion-label>
        <ion-checkbox slot="options" [(ngModel)]="option1" value="leather"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Interior Vacuum {{interior}}</ion-label>
        <ion-checkbox slot="options" [(ngModel)]="option2" value="interior"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>
  <div text-center>
    <button ion-button color="primary" (click)="booknow(option,option1,option2)" expand="block" style="margin-top:10%;">book now</button>
  </div>
</ion-content>
