page-book {
    .bg{
        background-color: #9cc1f8;
    }
    ion-card-header{
        background-color: skyblue;
    }
      ion-card-content{
        margin-top:10%;
        float: left;
        font-weight: bold; 
        font-size: 10px;
        color: black;
      }
}
